<div class="row-fluid">
	<div class="span2">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRlhT0hwkrhRMYj7bAvpq7whCLLvQyy5t0OqsRBDuizSVSUfCkE" class="img-circle">
  </div>
  <div class="span10">
    <h1>Thanks for visiting.</h1>
  </div>
</div>
<br>
<h3>I'm a novice Ruby developer.  This is one of my first projects.</h3>
<h1><a href="https://github.com/stvauyeung">github</a> | <a href="http://stvauyeung.github.io/">blog</a> | <a href="http://www.twitter.com/stvauyeung">twitter</a> | <a href="http://www.linkedin.com/in/stvauyeung">linkedin</a></h1>