<!DOCTYPE html>
<html>
  <head>
    <title>Play Simple Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="navbar-fixed">
          <a href="/" class="brand">Simple Blackjack</a>
          <ul class="nav">
            <li><a href="/about">About</a></li>
          </ul>
        <div class="pull-right">
          <a href="/bet" class="btn">Change Bet: ($<%= session[:bet_amount] %>)</a>
          <a href="/form" class="btn btn-primary">Enter Name</a>
          <% if session[:player_name] %>
          <a href="/game" class="btn btn-primary">Deal Again</a>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  <div class="container">
    <% if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <% if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
